    html {
        background: #b6dbc8;
        background: linear-gradient(270deg, rgba(182, 219, 200, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 87%, rgba(156, 219, 183, 1) 100%);
        font-family: "JetBrains Mono", monospace;
        color: rgb(12, 15, 2);
    }

header {
    display: flex;
    align-items: center;
    text-align: auto;
    gap: 6%;
    margin-top: -10px;
}

.introducao {
    border: rgb(12, 15, 2) solid;
    border-width: 2px;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.introducao img {
    flex: 1;
    margin-right: 50px;
    max-width: 30%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.introducao img:hover {
    transform: translateY(-2.5px);
}

.introducao p {
    flex: 2; 
    font-size: 20px;
}
  
p {
    padding: 10px;
    color: rgb(12, 15, 2);
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}

.tituloTexto {
    margin-left: 50px;
    margin-right: 100px;
}

h1 {
    font-size: 50px;
    margin-left: 50px;
    margin-right: 15%;
    color: rgb(12, 15, 2);
}

.subTexto {
    font-size: 20px;
    color: rgb(12, 15, 2);
    margin-top: -5px;
    margin-left: 150px;
    transition: 0.2s;
}
.subTexto:hover {
    transform: scale(1.05,1.05);
}

button {
    align-items: center;
    appearance: none;
    background-color: #41bd54;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(129, 127, 133, 0.616) 0 2px 4px, rgba(150, 148, 155, 0.884) 0 7px 13px -3px, rgb(143, 145, 139) 0 -3px 0 inset;
    box-sizing: border-box;
    color: beige;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    white-space: nowrap;
    font-size: 18px;
    width: 10%;
}

.button-30:focus {
    box-shadow: rgba(129, 127, 133, 0.616) 0 2px 4px, rgba(150, 148, 155, 0.884) 0 7px 13px -3px, rgb(143, 145, 139) 0 -3px 0 inset;
}
.button-30:hover {
    box-shadow: rgba(129, 127, 133, 0.616) 0 2px 4px, rgba(150, 148, 155, 0.884) 0 7px 13px -3px, rgb(143, 145, 139) 0 -3px 0 inset;
    transform: translateY(-2px);
}
.button-30:active {
    transition: box-shadow 0.15s ease, transform 0.1s ease;
    box-shadow: #458536 0 3px 7px inset;
    transform: translateY(1px);
}

h3 {
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: rgb(12, 15, 2);
}

.seta {
    text-align: center;
    font-size: 24px;
    color: rgb(12, 15, 2); 
    margin-bottom: 50px;
}

.habilidades {
    display: flex;
}

.Hab1, .Hab2, .Hab3 {
    border: rgb(12, 15, 2) solid 2px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    width: 400px;
    height: 350px;
}

.Hab1 {
    margin-right: -60px;
}
.Hab3 {
    margin-left: -60px;
}

.habTexto {
    width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
}

.pincel {
    margin-top: 30px;
    width: 40px;
    transition: 0.2s;
    fill: rgb(12, 15, 2); /* se for SVG inline */
}
.pincel:hover {
    transform: scale(1.1,1.1);
}

.instagram,
.github,
.linkedin{
    width: 40px;
    color: rgb(73, 66, 66);
    transition: color 0.2s;
}

.instagram:hover,
.github:hover,
.linkedin:hover{
    color: rgb(27, 25, 25);
}

.music-player img{
    width: 25%;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -20px;
}

.music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #368542;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 30%;
  }
  
  .music-player audio {
    height: 60px;
  }
  .music-info {
    flex-direction: column;
    font-size: 20px;
  } 
    .music-info strong {
        font-size: 18px;
        margin-bottom: 5px;
    }